@import url(./Estilos/carrosel-primeiro.css);
@import url(./Estilos/lista-itens.css);
@import url(./Estilos/informacoes-empresa.css);
@import url(./Estilos/lista-dois-itens.css);
@import url(./Estilos/carrosel-marcas.css);
@import url(./Estilos/carrosel-pessoas.css);
*{
    margin: 0 !important;
    box-sizing: border-box !important;
}


@font-face {
    font-family: fontTitulos;
    src: url("/Assets/Fonts/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2");
}
@font-face {
    font-family: fontBold;
    src: url('./Assets/Fonts/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2');
}

@font-face {
    font-family: fontTexto;
    src: url('./Assets/Fonts/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2');
}


.header-container{
    margin: 0 !important;
    padding: 0 !important;
    
 
}



.navbar-container {
    flex-direction: column;
    width: 100%;
    background-color: #0d0d0d;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    height: auto;
    padding: 10px 0;
}



.collapse.navbar-collapse {
    position: absolute;
    width: 100%;
    background-color: white;
    color: black;
    left: 0;
    top: 100%;
    z-index: 1050;
    padding: 15px;
}

.dropdown-menu {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    z-index: 1051;
    background-color: white;
    color: black;
    border: none;
    border-radius: 0;
    margin-top: 0;
}


.dropdown-item {
    
    padding: 10px 20px;
}

.dropdown-item:hover {
    background-color: #810000 !important;
}

.header-container-itens {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1000;
    width: 100vw;
    padding: 0 !important;
    margin: 0 !important;
}

.fontTitulo{
    font-size: 18px;
    font-family: fontTitulo;
}



