@import url(./Estilos/carrosel-primeiro.css);
@import url(./Estilos/lista-itens.css);
@import url(./Estilos/informacoes-empresa.css);
@import url(./Estilos/lista-dois-itens.css);
@import url(./Estilos/carrosel-marcas.css);
@import url(./Estilos/carrosel-pessoas.css);
@import url(./Estilos/Tech-News.css);
@import url(./Estilos/input-email.css);
@import url(./Estilos/footer.css);
@import url(./Estilos/carrosel-modelos.css);
@import url(./Estilos/header.css);
*{
    margin: 0 !important;
    box-sizing: border-box !important;
}


@font-face {
    font-family: fontTitulos;
    src: url("/Assets/Fonts/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2");
}
@font-face {
    font-family: fontBold;
    src: url('./Assets/Fonts/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2');
}

@font-face {
    font-family: fontTexto;
    src: url('./Assets/Fonts/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2');
}






