.carousel {
    overflow: hidden;
    width: 100%;
}

.carousel-inner {
    width: 100%;
    height: 80vh; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
    width: 30px; 
    height: 30px;
}




.carrosel-item-1,.carrosel-item-2{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
  

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carrosel-item-1{
    background-image: url(../Assets/Images/Carrosel/slider-electronic-1.jpg);
}
.carrosel-item-2{
    background-image: url(../Assets/Images/Carrosel/slider-electronic-2.jpg);
}

.texto{
    font-family: textoTitulo;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: auto;
    gap: 3vh;

    


    h1{
        position: relative;
        height: 100px;
        font-size: clamp(1rem,10vw,3rem);
        font-weight: bold;
        animation: letrasAnimacao 2.5s ease;   
        transform-origin: bottom;
    }

    p{
        position: relative;
        animation: letrasAnimacao 3s ease;   
        transform-origin: bottom;
        font-family: fontTexto;
        width: 70vw;
        font-weight: 600;
        line-height: 3vh;
    }

}



.botao-carrosel{
    position: relative;
    animation: letrasAnimacao 3.5s ease;   
    transform-origin: bottom;
    font-family: fontBold;
    font-size: clamp(1rem,1vw,6rem);;
    border-radius: 100px !important;
    width: clamp(7rem,20vw,13rem);
    height: 7vh;
    color: white;
    background-color: #810000;
    border: none;
}

.botao-carrosel:hover{
    transform-origin: center;
    background-color: white;
    color: black;
    transition: 0.5s;
}



@keyframes letrasAnimacao {

    0%{
        opacity: 0;
        top: 90px;
    
    }

    70%{
        opacity: 0;
        top: 90px;
    }

    100%{
        opacity: 1;
        top: 0px;
    }
    
}

@media screen and (min-width:990px) {


    .texto{
        margin-left: 5%!important;
        font-family: textoTitulo;
        display: flex;
        flex-direction: column;
        width: 80vw;
        height: auto;
        gap: 5vh;
    
        h1{
            font-size: clamp(2rem,5rem,5rem);
            font-weight: bold;
        }

        
    
        p{
            width: 32vw;
            font-size: clamp(0.9rem,1.1rem,2rem);

        }
    
    }
    

 
    
    .carousel-inner {
        width: 100%;
        height: 95vh; 
    }
    
    .carousel-item {
        height: 95vh; 
    }


    .carrosel-item-1,.carrosel-item-2{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 95vh;
      
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        
    }
  
    

}