.container-Carrosel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 80%;
    height: auto;
    overflow-x: auto;

  }

  .container-itens.dragging {
    cursor: grabbing;
    scroll-behavior: auto; 
}




  .container-itens{
    display: flex;
    align-items: start;
    justify-content: start;
    width: 5000px !important;

    height: auto;
  }
    .carousel-item-Modelos{
        width: 500px !important; 
        height: 300px; 
        margin: 20px!important;
        display: flex;
        flex-direction: row!important;
        font-size: 1.2rem;
        border: 2px solid #e0e0e0;
        color: black;
        align-items: center !important;
        justify-content: center !important;
        text-align: center;      
        gap: 30px;


        .imagem-Modelos{
            width: 230px;
            height: auto;
            cursor: pointer;
            overflow: hidden;
            img{
            width: 230px;
            height: auto;
            cursor: pointer;
            }
            img:hover{
                transition: 0.5s;
                transform: scale(110%);
            }
        }
    }

    .carousel-item-informacoes{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 10px;
        
        h5{
            color: #393939;
            font-size: 1.5rem;
            font-family: fontTitulo; 
        }
        h6,a,button{
            font-family: fontTexto;
            font-weight: 600;
            font-size: 0.9rem;
        }
        h6{
            color: #810000;
        }

        a{
           color: #393939;
            text-decoration: none;
        }

        button{
            color: #39393970;
            font-size: 0.9rem;
            padding: 7px;
            border-radius: 20px;
            width: 100px;
            height: auto;
            border: none;
        }
        button:hover{
            background-color: #810000;
            color: white;
        }

    }

    

    @media screen and (max-width:578px) {
        .container-Carrosel {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            width: 95%;
            height: auto;
            overflow-x: scroll;
            
          }


          
          

        .carousel-item-Modelos{
            padding: 20px;
            width: 85vw !important; 
            height: 300px; 
            margin: 20px!important;
            display: flex;
            flex-direction: row!important;
            font-size: 1.2rem;
            border: 2px solid #e0e0e0;
            color: black;
            align-items: center !important;
            justify-content: start !important;
            text-align: center;      
            gap: 30px;
    
    
            .imagem-Modelos{
                display: none !important;
                width: 230px;
                height: auto;
                cursor: pointer;
                overflow: hidden;
                img{
                width: 230px;
                height: auto;
                cursor: pointer;
                }
                img:hover{
                    transition: 0.5s;
                    transform: scale(110%);
                }
            }
        }
    }
