.container-footer{
display: flex;
align-items: center;
justify-content: center;
background-color: #0d0d0d;
color:white;
padding: 6vw;


h5{
    font-family: fontTitulo;
}

ul{
    font-family: fontTexto;
    font-weight: 500;
    padding: 0;
    list-style: none;
}

}

.container-itens-footer{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8vw!important;
}

.imagem-logo-footer{
    margin-top:10vh !important;
}

.Lista-footer{
    display: flex;
    flex-direction: column;
    align-items: center !important;
    text-align: center!important;
    margin: 0;
    padding: 0;
    gap: 2vw!important;

    
}

.texto-final-footer{
    border-top: 1px solid gray;
    margin-top: 20px!important;
    width: 80vw!important;
    padding: 2vw;
    text-align: center;
   
}

.itens-gap{
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

@media screen and (min-width:990px) {


    .texto-final-footer{
        border-top: 1px solid gray;
        margin-top: 20px!important;
        width: 100%!important;
        padding: 2vw;
        text-align: center;
       
    }

    
}