
.informacoes-Desconto{
    height: auto;
    margin-top: 5% !important;
    

    .btn-group-sm{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        font-family: fontTitulo;
        font-weight: bold;
        
    
        .btn{
            border-radius: 0 !important;
            border:none !important;
            color: rgba(0, 0, 0, 0.178);
            font-size: clamp(0.5rem,1.4rem,5rem);
        }
        .btn-check:checked + .btn {
           color: black;
            border-bottom: 2px solid #810000 !important;
        }
    }

    
}

@media screen and (min-width:990px) {

    .produtos-container{
        width: 85vw !important;
        
    
        .card{
            cursor: pointer;
    
            .subMenuCard{
                position:absolute;
                background-color: #810000;
                display: none;
                flex-direction: column;
                width: auto;
                height: auto;
                gap: 13px;
                padding: 5px;
                left: 75%;
                max-width: 50px;
           
               
    
                svg{
                    width:18px;
                    height: auto;
                    fill: white;
                }
            }
        }
    }

    @keyframes slideScale {
        0% {
            opacity: 0;
            transform: scaleY(0);
        }
        50%{
             opacity: 1;
            transform: scaleY(1);
        }
        100% {
            opacity: 1;
            transform: scaleY(1);
        }
    }
    @keyframes slideScaleOut {
        0% {
            opacity: 1;
            transform: scaleY(1);
        }
        80%{
            opacity: 1;
            transform: scaleY(0);
        }
        100% {
            opacity: 0;
            transform: scaleY(0);
        }
    }

    
.informacoes-Desconto{
    height: auto;

    .btn-group-sm{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        font-family: fontTitulo;
        font-weight: bold;
        gap: 10vw;
        
    
        .btn{
            border-radius: 0 !important;
            border:none !important;
            color: rgba(0, 0, 0, 0.178);
            font-size: clamp(0.5rem,2rem,5rem);
        }
        .btn-check:checked + .btn {
           color: black;
            border-bottom: 2px solid #810000 !important;
        }
    }

    
}
}