<div class="container-fluid m-0 p-0">
    <div class="containerBlog">
        <div class="tituloBlog">
            <h2>Blog</h2>
        </div>
        <div class="containerDirecaoItens">
          <div id="containerItensNoticias" class="containerItensNoticias">
        <div class="itemNoticia">
          <img src="../Assets/Images/Blog/noticia1.avif" alt="">
          <h4>Always Look On The Bright Side Of Life</h4>
          <h6>By by John Snow - April 17,2019</h6>
          <p>Ut tempus leo sed magna hendrerit, non congue libero blandit.
            Vestibulum libero diam, convallis in arcu ut, semper vulputate
           dolor. Vestibulum ante ipsum primis in faucibus orci luctus et 
           ultrices posuere cubilia Curae usce luctus fringilla fermentum…</p>
           <button>Read More</button>
           <div class="bordaEspacamento">
           </div>
     </div>
        </div>
       
        <div class="containerItensInputCategorias">
          <div class="inputBlog">
            <input type="text" class=" " placeholder="SEARCH POST..." aria-label="Username"
            aria-describedby="basic-addon1">
          <button class=" bg-transparent border-0">
            <svg xmlns="http://www.w3.org/2000/svg"  class="bi bi-search" viewBox="0 0 16 16">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
          </button>
          </div>
          <div class="categoriaPopularPost">
            <div class="tituloPopularPost">
                <h2>Popular Post</h2>
            </div>
            <div class="containerItensPopularPost">
              <div class="itemCategoria">
                <img src="../Assets/Images/Modelos/categories-1.jpg" alt="">
                <div class="containerLetrasItem">
                  <h4>Fahion Watch</h4>
                  <p>19 Augs, 2019 - by John </p>
                </div>
              </div>
              <div class="itemCategoria">
                <img src="../Assets/Images/Modelos/categories-2.jpg" alt="">
                <div class="containerLetrasItem">
                  <h4>Old Streets</h4>
                  <p>19 Augs, 2019 - by John </p>
                </div>
              </div>
              <div class="itemCategoria">
                <img src="../Assets/Images/Modelos/categories-3.jpg" alt="">
                <div class="containerLetrasItem">
                  <h4>New Suite</h4>
                  <p>19 Augs, 2019 - by John </p>
                </div>
              </div>
              <div class="itemCategoria">
                <img src="../Assets/Images/Modelos/categories-4.jpg" alt="">
                <div class="containerLetrasItem">
                  <h4>Beautiful Flower</h4>
                  <p>19 Augs, 2019 - by John </p>
                </div>
              </div>
            </div>
          </div>
          <div class="categoriaCategories">
            <div class="tituloCategories">
                <h2>Categories</h2>
            </div>
            <div class="containerItensCategories">
             
              <div class="itemCategorie">
                <h6>Life Style</h6>
                <h6>(12)</h6>
              </div>
              <div class="itemCategorie">
                <h6>Life Style</h6>
                <h6>(12)</h6>
              </div>
              <div class="itemCategorie">
                <h6>Life Style</h6>
                <h6>(12)</h6>
              </div>
              <div class="itemCategorie">
                <h6>Life Style</h6>
                <h6>(12)</h6>
              </div>
              <div class="itemCategorie">
                <h6>Life Style</h6>
                <h6>(12)</h6>
              </div>
              <div class="itemCategorie">
                <h6>Life Style</h6>
                <h6>(12)</h6>
              </div>
            </div>
          </div>
          <div class="categoriaArchives">
            <div class="tituloArchives">
                <h2>Categories</h2>
            </div>
            <div class="containerItensArchives">
             
              <div class="itemCategorie">
                <select name="" id="">
                  <option value="">June 2019</option>
                  <option value="">December 2018</option>
                  <option value="">November 2018</option>
                </select>
                
              </div>
            </div>
          </div>
          <div class="categoriaTags">
            <div class="tituloTags">
                <h2>Tags</h2>
            </div>
            <div class="containerItensTags">
             
              <div class="itemTags">
                <div class="textoTag">  
                  <p>Beauty,Life Style,Technology,Design,Fashion,
                    Furniture,Travel,Photography,Motion Design</p>
                </div>
                
                <div class="videoTags">
                  <video src="../Assets/Videos/5821502-hd_1920_1080_25fps.mp4" autoplay muted loop></video>
                </div>
               <div class="inputTags">
                <input type="text" placeholder="Enter your email address...">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-envelope" viewBox="0 0 16 16">
                  <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                </svg>
               </div>
               
              </div>
              </div>
              
          </div>
          
        </div>
        </div>
        
    </div>
</div>