<div class="d-flex flex-row justify-content-center align-itens-center ">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../Assets/Images/Marcas/Zara.png" alt="">
        </div>
        <div class="carousel-item">
          <img src="../Assets/Images/Marcas/Navigator.png" alt="">
        </div>
        <div class="carousel-item">
          <img src="../Assets/Images/Marcas/HeM.png" alt="">
        </div>
        <div class="carousel-item">
          <img src="../Assets/Images/Marcas/Willisam.png" alt="">
        </div>
        <div class="carousel-item">
          <img src="../Assets/Images/Marcas/Arrow.png" alt="">
        </div>
      </div>
    </div>
  </div>