<div class="container-fluid m-0 p-0">
    <div class="container-footer">
      <div class="container text-center">
        <div class="row align-items-center container-itens-footer">


          <div class="col-lg-2 col-md-3 col-sm-12 imagem-logo-footer">
            <img src="../Assets/Images/logo.png" alt="">
          </div>


          <div class="col-lg-8 col-md-9 col-sm-12">
            <div class="row">
              <div class="col-md-4 col-sm-6 Lista-footer">
                <h5>Quick Links</h5>
                <ul>
                  <li>Our Blog</li>
                  <li>About US</li>
                  <li>Help Center</li>
                  <li>Contact Us</li>
                </ul>
              </div>
              <div class="col-md-4 col-sm-6 Lista-footer">
                <h5>Useful Links</h5>
                <ul>
                  <li>Service</li>
                  <li>Affiliate</li>
                  <li>Terms e Conditions</li>
                  <li>Privacy Policy</li>
                </ul>
              </div>
              <div class="col-md-4 col-sm-6 Lista-footer">
                <h5>Experience App on Mobile</h5>
                <img src="../Assets/Images/Icons-App-Mobile/app-1.png" alt="Android">
                <img src="../Assets/Images/Icons-App-Mobile/app-2.png" alt="Apple">
              </div>
              <div class="col-md-4 col-sm-6 Lista-footer">
                <h5>Top Categories</h5>
                <ul>
                  <li>Casual</li>
                  <li>Sophisticated</li>
                  <li>Artsy</li>
                  <li>Preppy</li>
                  <li>Accessories</li>
                </ul>
              </div>
              <div class="col-md-4 col-sm-6 Lista-footer">
                <h5>Latest Blogs</h5>
                <ul>
                  <li>01. Lorem ipsum dolor sit...</li>
                  <li>02. Consectetur adipiscing...</li>
                  <li>03. Sed ut perspiciatis...</li>
                  <li>04. At vero eos et accusamus...</li>
                  <li>05. Dignissimos ducimus...</li>
                </ul>
              </div>
              <div class="col-md-4 col-sm-6 Lista-footer">
                <h5>Contact info</h5>
                <ul>
                  <li>121 King Street, New York <br> 3000 USA</li>
                  <li>Open time: 9:00 - 19:00, Monday - Friday</li>
                  <li>Email: Demo@Store.com</li>
                  <li>Phone: +12.345.678.43</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="texto-final-footer">
          <p>CAPRICE©2020. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>