<div class="container-fluid lista-Itens py-5 px-3">
    <div class="container-fluid d-flex align-items-center justify-content-center">
      <h2>Latest Products</h2>
    </div>
  
    <div class="container-fluid">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn" for="btnradio1">All</label>
  
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn" for="btnradio2">Sophisticated</label>
  
        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
        <label class="btn" for="btnradio3">Preppy</label>
  
        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
        <label class="btn" for="btnradio4">Artsy</label>
  
        <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
        <label class="btn" for="btnradio5">Bohemian</label>
  
        <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">
        <label class="btn" for="btnradio6">Casual</label>
      </div>
    </div>
  
    <div class="produtos-container">
      <div id="listaItens" class="lista-Itens-Cards row row-cols-sm-2 row-cols-md-3 row-cols-lg-6">
        <!-- Produtos vão aqui -->
      </div>
    </div>
  </div>
  