<div class="container-fluid m-0 p-0">
    <div class="containerOurSkills">
      <div class="containerItensOurSkills">
        <div class="graficoOurSkills">
          <div class="tituloOurSkills">
            <h4>Our Skills</h4>
          </div>
          <div class="itemGrafico">
            <div class="progressoSkill">
              <p>Fashion Design</p>
              <p>95%</p>
            </div>
            <div class="progress">
              <div class="progress-bar " style="width: 95%"></div>
            </div>
          </div>
          <div class="itemGrafico">
            <div class="progressoSkill">
              <p>Web Design</p>
              <p>85%</p>
            </div>
            <div class="progress">
              <div class="progress-bar " style="width: 85%"></div>
            </div>
          </div>
          <div class="itemGrafico">
            <div class="progressoSkill">
              <p>Branding Design </p>
              <p>80%</p>
            </div>
            <div class="progress">
              <div class="progress-bar " style="width: 80%"></div>
            </div>
          </div>
          <div class="itemGrafico">
            <div class="progressoSkill">
              <p>WordPress Development</p>
              <p>99%</p>
            </div>
            <div class="progress">
              <div class="progress-bar " style="width: 99%"></div>
            </div>
          </div>
        </div>
        <div class="videoOurSkills">
          <video autoplay loop muted src="../Assets/Videos/4962909-uhd_4096_2160_25fps.mp4"></video>
        </div>
      </div>
      </div>
    
</div>