<div class="container-fluid m-0 p-0 d-flex flex-column align-items-center justify-content-center ">
    <div id="textoh2" class="titulo-h2 ">
      <h2>Tech News</h2>
    </div>
    <div id="lista-Tech-News" class="container-tech-grid ">
      <div class="itens-tech p-0 m-0">
        <div class="imagem-Modelos">
          <img src="./Assets/Images/Tech/e-blog-1.jpg" alt="">
        </div>
       
        <div class="informacoes-tech">
          <h6>Casual, Artsy</h6>
          <h4>Lorem ipsum dolor sit amet</h4>
          <h6>By John Doe 19 Dec 2019</h6>
          <p>Proin vitae nisl mauris. Nulla dignissim maximus molestie.
            Orci varius natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus.</p>
          <button>Read More</button>
        </div>
      </div>

      <div class="itens-tech p-0 m-0">
        <div class="imagem-Modelos">
        <img src="./Assets/Images/Tech/e-blog-2.jpg" alt="">
      </div>
        <div class="informacoes-tech">
          <h6>Trendy, Casual</h6>
          <h4>Consectetur adipiscing elit</h4>
          <h6>By John Doe 19 Dec 2019</h6>
          <p>Proin vitae nisl mauris. Nulla dignissim maximus molestie.
            Orci varius natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus.</p>
          <button>Read More</button>
        </div>
      </div>
    </div>

  </div>