<div class="container-fluid m-0 p-0 ">
    <div class="containerAboutUs">
      <div class="tituloAboutUs">
        <h2>About Us</h2>
      </div>
      <div class="containerWelcomeAboutUs">
        <div class="videoWelcome"> 
          <video src="../Assets/Videos/5821502-hd_1920_1080_25fps.mp4" loop autoplay muted ></video>
        </div>
      
        <div class="textoWelcome">
          <h4>Welcome to Caprice</h4>
          <p>
            Praesent sed ex vel mauris eleifend mollis. Vestibulum dictum sodales ante,
            ac pulvinar urna sollicitudin in. Suspendisse sodales dolor nec mattis convallis.
            Quisque ut nulla viverra, posuere lorem eget, ultrices metus. Nulla facilisi.
            Duis aliquet, eros in auctor aliquam, tortor justo laoreet nisi, nec pulvinar
            lectus diam nec libero. Nullam sit amet dia
          </p>
          <button>
            <a class="video-popup" href="https://youtu.be/QOE6reKgTpU?si=Buy-DyUrz0nPt86N">
              <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-play-fill" viewBox="0 0 16 16">
                <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/>
              </svg> 
            </a>
             
          </button> 
        </div>
      
                       
      </div>
    </div>

</div>