<div class="container-fluid m-0 p-0">
    <div class="containerWhitList">
        <div class="tituloWhishlist">
            <h2>Wishlist</h2>
        </div>
        <div class="inputFiltro">
          <input type="text" class=" " placeholder="Search products..." aria-label="Username"
          aria-describedby="basic-addon1">
        <button class=" bg-transparent border-0">
          <svg xmlns="http://www.w3.org/2000/svg"  class="bi bi-search" viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
          </svg>
        </button>
        </div>
        <div class="containerItensWishlist">
          
          <div class="itemsWishlist">
            <div class="acoesItem">
              <button>X</button>
            </div>
              <img src="../Assets/Images/Itens/Bone.jpg" alt="">
              <div class="infoItens">
                <h4 class="titulo">Heavy Duty [Military Grade] </h4>
                <h4>$26.00</h4>
              </div>
              
              <div class="quantidadeItens">
                <button>-</button>
                  <h4>2</h4>
                <button>+</button>
              </div>
              
              <button class="botaoCarrinho">Add To Cart</button>
              <div class="acoesItemDesktop">
                <button>X</button>
              </div>
          </div>
          <div class="itemsWishlist">
            <div class="acoesItem">
              <button>X</button>
            </div>
              <img src="../Assets/Images/Itens/Bone.jpg" alt="">
              <div class="infoItens">
                <h4 class="titulo">Heavy Duty [Military Grade] </h4>
                <h4>$26.00</h4>
              </div>
              <div class="quantidadeItens">
                <button>-</button>
                  <h4>2</h4>
                <button>+</button>
              </div>
              
              <button class="botaoCarrinho">Add To Cart</button>
              <div class="acoesItemDesktop">
                <button>X</button>
              </div>
          </div>
          
        </div>
    </div>
</div>