.containerBlog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.tituloBlog{
    display: flex;
    align-items: center;
    justify-content: center;
   
    text-align: center;
    height: 20vh;
    width: 100%;
    background-color: rgb(248, 248, 248);

    h2{
        border: none;
        font-family: fontTitulo;
        font-size: clamp(1rem,2rem,3rem);
    }
}

.containerItensNoticias{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.itemNoticia{
    display: flex;
    flex-direction: column;
    gap: 20px;


    img{
        width: 100%;
        height: 30vh;
        object-fit: cover;
    }


    h4{
        font-family: fontTitulo;
    }
    p{
        color: #707070;
    }

    h6{
        font-size: 0.8rem;
        font-family: fontTexto;
    }

    button{
        letter-spacing: 1px;
        font-size: 0.8rem;
        font-family: fontBold;
        background-color: transparent;
        width: 130px;
        height: 7vh;
        border: 1px black solid;
    }

    .bordaEspacamento{
        width: 100%;
        border-bottom: 1px  #70707069 solid;
        margin-top: 10px!important;
    }
}

.mensagem{
    width: 90%;
    padding: 20px;
    height: 50vh;
    font-family: fonTitulo;
    background-color: #2f2f2f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    gap: 20px;

    p{
        text-transform: uppercase;
        font-size: 1rem;
    }

    h6{

        font-family: fontBold;
    }
}

.containerItensInputCategorias{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.inputBlog{
 width: 90%;   
 margin-top: 30px!important;
 padding: 10px;
 display: flex;
 border: 1px solid #2f2f2f93;
 align-items: center;
 justify-content: center;

 input{
    font-size: 0.8rem;
    color: black;
    border: none;
    background-color: transparent;
    width: 100%;
 }

 input::placeholder{
    color: black;
 }
 button{

    svg{
        width: 15px;
        fill: #2f2f2f93;
    }
 }
}

.categoriaPopularPost, .categoriaCategories{
    width: 90%;
}



.tituloPopularPost, .tituloCategories{
    margin: 30px 0px!important;
    display: flex;
    width: 100%;

    h2{
        width: 100%;
        color: #535353;
        border-bottom: 2px solid black ;
        font-weight: 600;
        font-family: fontTitulo;
        text-transform: uppercase;
        font-size: clamp(1rem,1.4rem,3rem);
        padding: 5px 0px;
    }
}

.containerItensPopularPost{
    margin-bottom:  30px !important;
    
}

.itemCategoria{
    display: flex;
    gap: 20px;
    font-family: fontTitulo;
    border-bottom: 1px solid #53535375;
    padding: 10px;
    img{
        width: 100px;
        height: auto;
    }
}

.itemCategorie{
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: fontTitulo;
}

.containerItensCategories{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

