.containerBlog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.tituloBlog{
    display: flex;
    align-items: center;
    justify-content: center;
   
    text-align: center;
    height: 20vh;
    width: 100%;
    background-color: rgb(248, 248, 248);

    h2{
        border: none;
        font-family: fontTitulo;
        font-size: clamp(1rem,2rem,3rem);
    }
}

.containerDirecaoItens{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerItensNoticias{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
.itemNoticia{
    display: flex;
    flex-direction: column;
    gap: 20px;


    img{
        width: 100%;
        height: 30vh;
        object-fit: cover;
    }


    h4{
        font-family: fontTitulo;
    }
    p{
        color: #707070;
    }

    h6{
        font-size: 0.8rem;
        font-family: fontTexto;
    }

    button{
        letter-spacing: 1px;
        font-size: 0.8rem;
        font-family: fontBold;
        background-color: transparent;
        width: 130px;
        height: 7vh;
        border: 1px black solid;
    }

    .bordaEspacamento{
        width: 100%;
        border-bottom: 1px  #70707069 solid;
        margin-top: 10px!important;
    }
}

.mensagem{
    width: 90%;
    padding: 20px;
    height: 50vh;
    font-family: fonTitulo;
    background-color: #2f2f2f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    gap: 20px;

    p{
        text-transform: uppercase;
        font-size: 1rem;
    }

    h6{

        font-family: fontBold;
    }
}

.containerItensInputCategorias{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.inputBlog{
 width: 90%;   
 margin-top: 30px!important;
 padding: 10px;
 display: flex;
 border: 1px solid #2f2f2f93;
 align-items: center;
 justify-content: center;

 input{
    font-size: 0.8rem;
    color: black;
    border: none;
    background-color: transparent;
    width: 100%;
 }

 input::placeholder{
    color: black;
 }
 button{

    svg{
        width: 15px;
        fill: #2f2f2f93;
    }
 }
}

.categoriaPopularPost, .categoriaCategories, .categoriaArchives,.categoriaTags{
    width: 90%;
}



.tituloPopularPost, .tituloCategories,.tituloArchives,.tituloTags{
    margin: 30px 0px!important;
    display: flex;
    width: 100%;

    h2{
        width: 100%;
        color: #535353;
        border-bottom: 2px solid black ;
        font-weight: 600;
        font-family: fontTitulo;
        text-transform: uppercase;
        font-size: clamp(1rem,1.4rem,3rem);
        padding: 5px 0px;
    }
}

.containerItensPopularPost{
    margin-bottom:  30px !important;
    
}

.itemCategoria{
    display: flex;
    gap: 20px;
    font-family: fontTitulo;
    border-bottom: 1px solid #53535375;
    padding: 10px;
    img{
        width: 100px;
        height: auto;
    }
}

.itemCategorie{
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: fontTitulo;
}

.containerItensCategories{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.itemCategorie{

    select{
        padding: 20px;
        width: 100%;
        background-color: transparent;
        border: 1px solid #2f2f2f5e;
        color: #535353;
        outline: none;

        option{
            width: auto;
            height: auto;
        }
        
    }
}

.itemTags{
    margin-bottom: 100px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    .textoTag{
        width: 100%;
        flex-wrap: wrap;
    }

    .videoTags{
        width: 100%;
        object-fit: cover;
        video{
            width: 100%;
            height: auto;
        }
    }

    .inputTags{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        border: 1px solid #2f2f2f;
       
        input{
            background-color: transparent;
            border: none;
        }

        svg{
            width: 20px;
            height: auto;
            fill: #2f2f2f69;
        }
    }
}

.containerItensTags{
    width: 100%;
}

@media screen and (min-width:600px) {
    .containerItensNoticias{
        width: 70%;
    }
    .mensagem{
        width: 100%;

    }
    .containerItensInputCategorias{
        width: 77%;        
    }
}
@media screen and (min-width:990px) {

    .tituloBlog{
        height: 30vh;

    }
    .containerDirecaoItens{
        width: 80%;
        display: flex;
        flex-direction: row-reverse;
        align-items: start;
        justify-content: center;
        gap: 50px;
    }
    .containerItensInputCategorias{
        width: 25%;
    }

    
    .containerBlog{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }


    .itemNoticia{   
        img{
            width: 100%;
            height: 50vh;
            object-fit: cover;
        }     
    }

    .mensagem{
        width: 100%;

        height: 30vh;
    }
    .inputBlog{
        padding: 8px;
        input{
           font-size: 0.7rem;
        }
    }
    .tituloPopularPost, .tituloCategories,.tituloArchives,.tituloTags{  
        h2{
            font-size: clamp(1rem,1.3rem,3rem) !important;
        }
    }
}


